* {
  font-family: "Ubuntu", sans-serif;
}

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
    padding-top: 200px;
}
.logo {
  width: 240px;
  height: 240px;
  border-radius: 0;
}
.title {
  font-size: 35px;
  font-weight: bold;
  color: #02b589;
}
.formContainer {
  display: flex;
  flex-direction: column;
}
.inp {
  width: 350px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px;
  border: none;
}
.inCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.marginTop {
    margin-top: 30px;
}
label {
    margin-left: 20px;
}
.button {
    background-color: #02b589;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
}
.checkCont {
    gap: 20px
}
.text {
    color:#02b589;
}
