.App {
  display: flex;
  justify-content: center;
}
.boxCont {
  width: 500px;
  gap: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  width: 100px;
  height: 100px;
  /* border: 1px solid red; */
  background-color: black;
}

.Insert {
  width: 100px;
  height: 100px;
  background-color: red;
}
