.App {
  display: flex;
  justify-content: center;
}
.boxCont {
  width: 900px;
  gap: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  height: 200px;
  /* border: 1px solid red; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.Insert {
  background-color: red;
}
.done {
  display: none;
}
