body {
  display: flex;
  justify-content: center;
}
.Container {
  display: flex;
  gap: 20px;
}
/* Review component */

.rContainer {
  width: 366px;
  height: 350px;
  box-shadow: 0px 0px 15px 1px black;
  padding: 40px 40px 40px 40px;
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.checked {
  color: orange;
}

.rStarContainer {
  display: flex;
  justify-content: start;
}
.rTextContainer {
  /* border: 1px solid black; */
  padding-right: 18px;
  padding-top: 20px;
}
.rText {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-align: start;
  font-weight: bold;
  margin: 0;
  line-height: 2;
}

.rProfileContainer {
  display: flex;
  /* margin-top: 60px; */
  margin-bottom: 20px;
  align-items: center;
  gap: 25px;
}
.fa {
  width: 26px;
  height: 26px;
}
.rProfileImg {
  width: 56px;
  height: 56px;
}
.rProfileName {
  font-size: 18px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* News component */
.nContainer {
  width: 370px;
  height: 440px;
  border-radius: 34px;
  border: 1px solid black;
}
.nHeadImg {
  width: 370px;
  height: 147px;
}
