.container {
  width: 500px;
  height: 420px;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 11;
  top: 20%;
  left: 40%;
  padding: 23px;
  gap: 25px;
  border-radius: 15px;
  transition: 500ms;
}
.displayNone {
  display: none;
}
.nameCont {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  color: white;
}
.headSector {
  display: flex;
}
.midSector {
  display: flex;
  gap: 25px;
}
.imgInp {
  width: 160px;
  height: 160px;
  background-color: rgb(34, 34, 34);
  border: none;
  box-shadow: 0px 0px 15px 3px black;
}
.infoSector {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}
.infoText {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: white;
}
.inp {
  width: 260px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  background-color: rgb(67, 67, 67);
  font-size: 14px;
  color: white;
}
textarea:focus,
input:focus {
  outline: none;
}
.inpD {
  width: 260px;
  height: 75px;
  border-radius: 5px;
  padding-bottom: 40px;
  padding-left: 10px;
  border: none;
  background-color: rgb(67, 67, 67);
  font-size: 14px;
  color: white;
}
.botSector {
  width: 90%;
  position: absolute;
  bottom: 30px;
}
.botText {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.saveButton {
  margin-top: 15px;
  margin-right: 29px;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.disable {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
