body {
  background: rgb(21, 21, 21);
}

.Container {
  width: 100vw;
  height: 100vh;
  /* background-color: #050505ee; */
  padding-left: 15%;
  /* display: grid; */
  /* grid-template-rows: 2fr 5fr 3fr 4fr; */
  overflow-x: hidden;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(32, 87, 100);
}
.blur {
  filter: blur(10px);
}
.topCont {
  /* width: 85vw;
  height: 70vh; */
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
.coverImg {
  width: 1200px;
  height: 530px;
  border-radius: 10px;
}
.coverTextCont {
  width: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
  gap: 10px;
}
.coverTitle {
  font-size: 50px;
  color: white;
  font-family: "Mulish", sans-serif;
}
.coverText {
  font-size: 20px;
  color: white;
  font-family: "Mulish", sans-serif;
}

.coverButton {
  background-color: orange;
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 87vw;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 9px;
  padding-bottom: 20px;
}
.title {
  font-size: 40px;
  color: white;
  font-family: "Mulish", sans-serif;
}
.playlistContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 30px;
}
a:link {
  text-decoration: none;
}
