.Container {
  width: 200px;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.274);
  padding-left: 25px;
  /* padding-right: 5px; */
  padding-top: 10px;
  position: relative;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 0;
}
.textCont {
  max-width: 200px;
  padding-top: 20px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
.voteCont {
  /* padding-top: 10px; */
  position: absolute;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.icon {
  color: orange;
  text-decoration: dashed;
  font-size: 19px;
}

.textCont:active {
  text-decoration: none;
}
.botText {
  color: orange;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
}
.deleteCont {
  position: absolute;
  bottom: 24px;
  right: 23px;
}
.icon:hover {
  color: yellow;
}
.delete {
  font-size: 23px;
}
.Container:hover {
  background-color: rgb(37, 37, 37);

}
  