.Container {
  background-color: rgb(26, 26, 26);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  position: fixed;
  display: none;
  bottom: 0%;
  padding-bottom: 10px;
  z-index: 99909999999;
  padding-bottom: 10px;
  left: 0;
  transition: 500ms;
  animation: mymove 1s alternate;
}
.player {
  width: 10%;
  background-color: rgb(26, 26, 26);
  color: white;
}

.albumCont {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.albumImg {
  width: 60px;
  height: 60px;
  border-radius: 0;
}

.songDetails {
  display: flex;
  flex-direction: column;
}

.songText {
  font-size: 12px;
  color: white;
  font-family: "Mulish", sans-serif;
}
.artistText {
  font-size: 10px;
  color: white;
  font-family: "Mulish", sans-serif;
}
.flex {
  display: flex;
}
@keyframes mymove {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
