.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 16%;
  gap: 80px;
  transition: 500ms;
}
.ContainerDark {
  width: 100vw;
  height: 200vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 100px;
  padding-left: 16%;
  gap: 80px;
  background-color: black;
  transition: 500ms;
}
.titleCont {
  display: flex;
  flex-direction: column;
  /* margin-left: 16%; */
  gap: 10px;
}
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}
.text {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
}
.textWhite {
  color: white;
}
.titleDefault {
  color: black;
}
.textDefault {
  color: #6d7d8b;
}
.blogsCont {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.blogsInnerCont {
  width: 1300px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}
