.hContainer {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 500ms;
  
}

.hContainerBg {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #101820FF;
  padding-bottom: 14px;
  transition: 500ms;

}

.textsContainer {
  display: flex;
  gap: 30px;
  padding-top: 7px;
}
.img {
  vertical-align: top;
}
.texts {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-decoration: gray underline;
  color: white;
  margin-top: 20px;
}
.change {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-decoration: gray underline;
  margin-top: 20px;
  color: #6d7d8b;
}
.getButton {
  width: 128px;
  height: 56px;
  opacity: 50%;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: white;
  background: none;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid white;
}

.changeButton {
  width: 128px;
  height: 56px;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: blue;
  background: #4da0fd;
  opacity: 42%;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid blue;
}

.getButton:hover {
  opacity: 100%;
}
.changeButton:hover {
  opacity: 80%;
}
.Form {
  display: flex;
  align-items: center;
}
