.Container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  /* background-size: 100% 100%; */
}
.innerContainer {
  margin-left: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;

}
.title {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
}
.texts {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}
.form-control {
  width: 100px;
}
.input {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
input {
  width: 316px;
  height: 56px;
  padding-left: 20px;
  font-family: "Mulish", sans-serif;
}
button {
  width: 161px;
  height: 56px;
  background-color: #0bbef2;
  font-family: "Mulish", sans-serif;
  border: none;
  color: white;
  border-radius: 5px;
}
.ContainerSecond {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner2Container {
  margin-left: 300px;
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;

}
.titleSecond {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.4;
}
.textSecond {
  color: #182d40;
  font-family: "Mulish", sans-serif;
  font-size: 18px;

  line-height: 1.7;
}
.bottomCont {
  gap: 50px;
}
.bottomSecond {
  color: #4da0fd;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.arrow {
  font-weight: bold;
  color: #4da0fd;
}
.imgCont {
  position: relative;

}
.teamhubImg {
  width: 1179px;
  height: 705px;
}
.miniCardImg {
  position: absolute;
  top: 9.3%;
  left: 12%;
}

.inner3Container {
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;

}
.maskImg {
  width: 658px;
  height: 600px;
}
.imgCont2 {
  display: flex;
  justify-content: flex-start;
}
.botTitle {
  font-size: 60px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

.titleCont {
  display: flex;
  justify-content: center;
}
.ContainerBottom {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.cardCont {
  overflow: scroll;
  gap: 5%;
  display: flex;  
  width: 100%;

  padding-left: 10%;
  flex-direction: row;

  align-items: center;
  height: 500px;

}
