.Container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo {
  width: 200px;
  height: 200px;
  border-radius: 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 200px;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.inp {
  width: 700px;
  padding-left: 30px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 15px -10px;
  font-size: 18px;
}
::placeholder {
  opacity: 50%;
}
textarea:focus,
input:focus {
  outline: none;
}

.button {
  background-color: #02b589;
  color: white;
  font-size: 18px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  font-weight: bold;
  margin-left: 25px;
}

.footerCont {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.bottomText {
  opacity: 30%;
}
.inpCont {
  display: flex;
  justify-content: center;
}
.urlContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
  /* padding-left: 450px; */

  transition: 500ms;
}
.urlTexts {
  opacity: 80%;
}
a {
  color: black;
  text-decoration: none;
}

.historyContainer {
  width: 100%;
  max-height: 30%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.hUrlContainer {
  display: flex;
  text-align: start;
  flex-direction: column;
}

.hInnerContainer {
  width: 43%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-top: 8px;
}
.copy {
  color: #02b589;
  margin-left: 10px;
  text-decoration: underline;
}
hr {
  opacity: 10%;
  width: 43%;
}
.historyContainer::-webkit-scrollbar {
  display: none;
}
.hTexts {
  font-size: 14px;
  opacity: 50%;
}

@media only screen and (max-width: 910px) {
  .logo {
    width: 160px;
    height: 160px;
  }
  .inpCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin-top: 25px;
    font-size: 15px;
  }
  .inp {
    font-size: 15px;
  }
}

@media only screen and (max-width: 710px) {
  .inp {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .inp {
    width: 540px;
  }
}
@media only screen and (max-width: 550px) {
  .inp {
    width: 460px;
  }
}

@media only screen and (max-width: 500px) {
  .Container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inp {
    width: 400px;
    font-size: 14px;
  }
  .button {
    font-size: 13px;
  }
}
