* {
  font-family: "Ubuntu", sans-serif;
}

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 0;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #02b589;
}
.formContainer {
  display: flex;
  flex-direction: column;
}
.inp {
  width: 350px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px;
  border: none;
}
.inCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.marginTop {
  margin-top: 20px;
}
label {
  margin-left: 20px;
}
.button {
  background-color: #02b589;
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  font-size: 20px;
}
.checkCont {
  gap: 5px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 10px;
}
.text {
  color: #02b589;
  text-decoration: underline;
}
.checkBox {
  background-color: #02b589;
  font-size: 20px;
}
.footerCont {
  display: flex;
  position: absolute;
  bottom: 0px;
  text-align: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.bottomText {
  opacity: 30%;
}
.text:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;

}
