/* .App {
  text-align: center;
  overflow-x: hidden;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rhap_main{
  border: none;
}
.rhap_container{
  background-color: rgb(26, 26, 26);
  width: 50%;
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
}

.rhap_button-clear{
  color: white;
}
.rhap_current-time {
color: white;
}
.rhap_time {
  color: white
}
